body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

ul li button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    background-color: #007bff; 
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li button:hover {
    background-color: #0056b3; 
}

ul li:nth-child(1) button {
    background-color: #28a745; 
}

ul li:nth-child(2) button {
    background-color: #ffc107; 
}

ul li:nth-child(3) button {
    background-color: #17a2b8; 
}

ul li:nth-child(4) button {
    background-color: #dc3545; 
}

ul li:nth-child(5) button {
    background-color: #6c757d; 
}
.random{
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        opacity: 1;
        transition: opacity 1s ease-out;
}
