


body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;  
    margin: 0;
    padding: 0;
}


table {
    margin: 50px auto;
    border-collapse: collapse;
    border: 1px solid #0f0f0f;
    background-color: #1ea8df; 
    border-radius: 10px;
    
}


h1 {
    font-size: 36px;
    color: #333;
    margin-top: 20px;
}


td {
    padding: 10px;
}


h3 {
    font-size: 24px;
    color: #0a0a0a;
}


input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


input[type="submit"], input[type="reset"] {
    width: 48%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
}




